<h2>Kata04: Data Munging</h2>

http://codekata.com/kata/kata04-data-munging/

<h2>Part Two: Soccer League Table</h2>

The file football.dat contains the results from the English Premier League for 2001/2. The columns labeled ‘F’ and ‘A’ contain the total number of goals scored for and against each team in that season (so Arsenal scored 79 goals against opponents, and had 36 goals scored against them). Write a program to print the name of the team with the smallest difference in ‘for’ and ‘against’ goals.

In [2]:
!! cat ../data/football.dat

['       Team            P     W    L   D    F      A     Pts',
 '    1. Arsenal         38    26   9   3    79  -  36    87',
 '    2. Liverpool       38    24   8   6    67  -  30    80',
 '    3. Manchester_U    38    24   5   9    87  -  45    77',
 '    4. Newcastle       38    21   8   9    74  -  52    71',
 '    5. Leeds           38    18  12   8    53  -  37    66',
 '    6. Chelsea         38    17  13   8    66  -  38    64',
 '    7. West_Ham        38    15   8  15    48  -  57    53',
 '    8. Aston_Villa     38    12  14  12    46  -  47    50',
 '    9. Tottenham       38    14   8  16    49  -  53    50',
 '   10. Blackburn       38    12  10  16    55  -  51    46',
 '   11. Southampton     38    12   9  17    46  -  54    45',
 '   12. Middlesbrough   38    12   9  17    35  -  47    45',
 '   13. Fulham          38    10  14  14    36  -  44    44',
 '   14. Charlton        38    10  14  14    38  -  49    44',
 '   15. Everton         38    11  10  17    45  -  57    43',
 '   16. Bolton          38     9  13  16    44  -  62    40',
 '   17. Sunderland      38    10  10  18    29  -  51    40',
 '   -------------------------------------------------------',
 '   18. Ipswich         38     9   9  20    41  -  64    36',
 '   19. Derby           38     8   6  24    33  -  63    30',
 '   20. Leicester       38     5  13  20    30  -  64    28']

In [11]:
!! file ../data/football.dat

['../data/football.dat: ASCII text']

In [3]:
import pandas as pd
import numpy as np

In [48]:
# df = pd.read_fwf('../data/football.dat', delim_whitespace=True)
# That's not seeing the columns ???

# a few minutes trial and error
df = pd.read_fwf('../data/football.dat', widths=(21,6,5,4,4,5,3,5,6))
df.head()

              Team   P   W   L  D   F Unnamed: 6   A Pts
0       1. Arsenal  38  26   9  3  79          -  36  87
1     2. Liverpool  38  24   8  6  67          -  30  80
2  3. Manchester_U  38  24   5  9  87          -  45  77
3     4. Newcastle  38  21   8  9  74          -  52  71
4         5. Leeds  38  18  12  8  53          -  37  66

In [54]:
df.drop(17, inplace=True)

In [62]:
#pd.Series( df['F'].astype('int') - df['A'].astype('int'), index=df.index ).sort_values(ascending=True)

# Clarify spec. smallest / smallest "absolute"???
idx = pd.Series( df['F'].astype('int') - df['A'].astype('int'), index=df.index ).abs() \
    .sort_values(ascending=True) \
    .first_valid_index()
    
df.Team[idx]

'8. Aston_Villa'